include ../config/config
include ../mixins/submenu
doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="google" content="notranslate")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="../../css/prism-dracrula.css")
        //- ! ESTOS ESTILOS SON SOLO PARA DESARROLLO, ELIMINAR ANTES DE SUBIR A PRODUCCIÓN
        link(rel="stylesheet" href="../../../dev/css/main.css")
        //- ?DESCOMENTAR ESTA RUTA ANTES DE SUBIR A PRODUCCIÓN
        //- link(rel="stylesheet" href="../../css/styles.min.css")
        title plantilla
        script(src="../../js/app.js" type="module" defer) 
    body(class="layout") 
        div.container-hamburger
            img(class="hamburger" id="hamburger" src="../../assets/icons/hamburger.svg" alt="arrow right")

        header(id="pageHeader" class="page-header")
            nav(class="main-nav")
                img(id="close" class="close" src="../../assets/icons/close.svg" alt="close")
                a(href="../../../"): img(class="logo" src="../../assets/icons/logo.png" alt="logo")

                section(class="container-menu")
                    include ../mixins/menuRutas
                    +menuRutas(menuRutas)

        main(id="main" class="container main")
            block h1 
            section(class="main-info")
                section(class="info")   
                    block content 
                block submenu    

        <script src="../../js/prism-whitespace.js"></script>            

