extends ../../templates/template 

append h1 
    h1 Too many rerenders

append content 
    article(id="1" class="content")
        h2 Introducción
        p Esta lección será muy breve, vamos a comentar uno de los errores más habituales que se suele tener al empezar con React, el error de 
            strong too many rerenders.

        p A que nos referimos con esto, bien, pues hasta ahora hemos estado trabajando con la suposición de que la función de cambio de estado, tiene que ir dentro de un onClick o de un evento, de forma que cuando hacemos click se ejecuta esta función de cambio de estado y solo haciendo click podemos cambiar el estado de nuevo.

        p Pero esta no es la única forma de utilizar este 
            strong setState (función de cambio de estado)
            | , sino que tambien podemos utilizar un condicional 
            strong if
            |.  


    article(id="2" class="content")
        h2 Error Too many re-renders

        p Partiremos por el inicio, miraremos que podemos ejecutar la función de cambio de estado desde un condicional if.

        img(src="../../assets/img/5-10-too-many-rerenders/1.webp" alt="example")

        p Si miramos la consola visualizaremos que los componentes que tenian el estado como valor inicial en true producen un segundo renderizado de tal manera que todos los UserRows se visualizarán como Inactivos.
        img(src="../../assets/img/5-10-too-many-rerenders/2.webp" alt="example")

        p Si ahora intentamos dar click para querer cambiar el estado de un componente, pues nunca cambiará ya que hemos definido que cuando se de click se cambie su estado a lo contrario, y como todos estan en false y al dar click pasará a true, se volvera a producir un segundo renderizado de tal manera que el componente siempre estará como inactivo, es por eso que comentabamos que debemos de tener cuidado cuando usamos condicionales para ejecutar la función de cambio de estado.
        img(src="../../assets/img/5-10-too-many-rerenders/3.webp" alt="example")

        p Pero bueno ¿Qué pasa si ejecutamos la función de cambio de estado fuera de una condicional?, pues que obtendremos un bucle infinito.
        img(src="../../assets/img/5-10-too-many-rerenders/4.webp" alt="example")
        p Como estamos provocando un bucle infinito, obtenemos el error de 
            strong Too many re-renders.
        img(src="../../assets/img/5-10-too-many-rerenders/5.webp" alt="example")
        p Para evitar este problema, debemos asegurarnos de que el cambio de estado solo ocurra en respuesta a 
            strong eventos
            |   o 
            strong condiciones controladas
            |, como un 
            strong clic
            |   o 
            strong una actualización condicional
            |. 

append submenu 
    -submenuLinks = [[1,'Introducción'],[2,'Error Too many re-renders']]
    +submenu(submenuLinks)