- const menuRutas = [['¿Qué es React?',[['1-1-por-que-react','¿Por qué React?'],['1-2-los-primeros-componentes','Los primeros componentes'],['1-3-el-origen-de-react-jsx','El origen de React y JSX'],['1-4-imperativo-vs-declarativo','Imperativo vs Declarativo'],['1-5-cascade-updates','Cascade updates'],['1-6-el-dom-js','El DOM de JavaScript'],['1-7-el-virtual-dom','El virtual DOM'],['1-8-que-es-react','¿Qué es React?'],]],['Creando el primer proyecto',[['2-1-el-problema-js','El problema de JavaScript'],['2-2-la-alternativa-de-react','La alternativa de React'],['2-3-transpilacion-y-babel','Transpilación y babel'],['2-4-modularizacion-y-es-modules','Modularización y ES Módules'],['2-5-empaquetado-bundles-y-webpack','Empaquetado, bundles y Webpack'],['2-6-no-react-app','¿Por qué no usamos create-react-app?'],['2-7-creando-una-app-vite','Creando una app con Vite'],['2-8-entendiendo-vite','Entendiendo como funciona Vite'],['2-9-como-funciona-dev-server','Cómo funciona el dev server'],['2-10-configurando-eslint','Cónfigurando ESLint'],['2-11-configurando-prettier','Cónfigurando Prettier'],['2-12-conflictos-prettier-eslint','Conflictos de Prettier y ESLint'],['2-13-subiendo-proyecto-a-git','Subiendo el proyecto a git'],]],['La sintaxis de JSX',[['3-1-que-es-una-etiqueta-jsx','¿Qué es una etiqueta JSX?'],['3-2-la-propiedad-children','La propiedad children'],['3-3-react-fragment','React fragment'],['3-4-las-props-de-jsx','Las props de JSX'],['3-5-la-propiedad-style','La propiedad style'],['3-6-classname-y-htmlfor','className y htmlFor'],['3-7-defaultvalue-y-defaultchecked','defaultValue y defaultChecked'],['3-8-dangerouslysetinnerhtml','dangerouslySetInnerHTML'],['3-9-custom-attributes','Custom attributes'],['3-10-spread-de-props-y-keys','Spread de props y keys'],]],['Componentes',[['4-1-funciones-que-devuelven-jsx','Funciones que devuelven JSX'],['4-2-componentes-y-props','Componentes y props'],['4-3-destructuring-de-props','Destructuring de props'],['4-4-composicion-de-componentes','Composición de componentes'],['4-5-modularizacion-y-nomenclatura','Modularización y nomenclatura'],['4-6-el-componente-app','El componente App'],['4-7-css-modules','CSS modules'],['4-8-css-global','CSS Global'],['4-9-renderizado-condicional','Renderizado condicional'],['4-10-aislar-logica-en-componentes','Aislar lógica en componentes'],['4-11-funciones-vs-clases','Funciones vs clases'],]],['Estado y useState',[['5-1-el-renderizado-inicial','El renderizado inicial'],['5-2-que-es-un-estado','¿Qué es un estado?'],['5-3-usestate','useState'],['5-4-fases-del-cambio-de-estado','Fases del cambio de estado'],['5-5-variables-durante-el-render','Variables durante el render'],['5-6-reglas-del-estado-y-los-hooks','Reglas del estado y los hooks'],['5-7-el-valor-inicial', 'El valor inicial'],['5-8-profundizando-en-setstate','Profundizando en SetState'],['5-9-valor-del-estado-durante-el-render','Valor del estado durante el render'],['5-10-too-many-rerenders','Too many rerenders'],['5-11-donde-colocar-el-estado','Dónde colocar el estado'],['5-12-introduccion-a-multiples-estados','Introducción a múltiples estados'],]],['Eventos y formularios',[['6-1-anadiendo-event-listeners','Añadiendo event listeners'],['6-2-eliminando-event-listeners','Eliminando event listeners'],['6-3-syntheticevent','SyntheticEvent'],['6-4-preventdefault','PreventDefault'],['6-5-target-vs-currenttarget','Target vs CurrentTarget'],['6-6-event-bubbling-capturing-y-stoppropagation','Event bubbling, capturing y stopPropagation'],['6-7-formularios-no-controlados','Formularios no controlados'],['6-8-formularios-controlados','Formularios controlados'],['6-9-ejemplo-con-un-buscador','Ejemplo con un buscador'],]],['Lógica, estructura y custom hooks',[['7-1-modularizando-la-logica','Modularizando la lógica'],['7-2-responsabilidad-unica','Responsabilidad única'],['7-3-anadiendo-nuevos-filtros','Añadiendo nuevos filtros'],['7-4-anadiendo-logica-de-filtrado','Añadiendo lógica de filtrado'],['7-5-primitivos-referencias-stack-y-memoria','Primitivos, referencias, stack y memoria'],['7-6-la-importancia-de-las-funciones-puras','La importancia de las funciones puras'],['7-7-componentizar','Componentizar'],['7-8-agrupando-estados','Agrupando estados'],['7-9-custom-hooks','Custom hooks'],['7-10-mas-custom-hooks','Más custom hooks'],]],['Contexto y useContext',[['8-1-la-tecnica-de-prop-drilling','La técnica de prop drilling'],['8-2-la-alternativa-de-context','La alternativa de context'],['8-3-context-provider-y-usecontext','Context provider y useContext'],['8-4-valor-por-defecto-del-context','Valor por defecto del context'],['8-5-multiples-context-providers','Múltiples context providers'],['8-6-las-implicaciones-de-usecontext','Las implicaciones de useContext'],['8-7-manejo-de-multiples-contextos','Manejo de múltiples contextos'],['8-8-context-vs-prop-drilling','Context vs prop drilling'],]],['Side effects y useEffect',[['9-1-la-experiencia-de-usuario','La experiencia de usuario'],['9-2-prioridad-y-side-effects','Prioridad y side effects'],['9-3-useeffect','useEffect'],['9-4-las-dependencias-de-useeffect','Las dependencias de useEffect'],['9-5-las-reglas-de-los-hooks','Las reglas de los hooks'],['9-6-eslint-plugin-react-hooks','ESlint Plugin React Hooks'],['9-7-no-mientas-con-tus-dependencias','No mientas con tus dependencias'],['9-8-limpieza-de-side-effects','Limpieza de side effects'],['9-9-el-asincronismo','El asincronismo'],['9-10-no-todo-son-side-effects','No todo son side effects'],['9-11-desmontado-y-memory-leaks','Desmontado y memory leaks'],]],['Práctica 1: Listado de usuarios',[['10-1-objetivos-y-metodologia','Objetivos y metodología'],['10-2-analizando-los-requisitos','Analizando los requisitos'],['10-3-los-flujos-del-diseno','Los flujos del diseño'],['10-4-el-ui-kit','El UI Kit'],['10-5-definiendo-variables-css','Definiendo variables CSS'],['10-6-adaptando-el-codigo-anterior','Adaptando el código anterior'],['10-7-userrole-y-el-uso-de-variables','UserRole y el uso de variables'],['10-8-userstatus-y-los-svg','UserStatus y los SVG'],['10-9-creando-el-userdisplay','Creando el UserDisplay'],['10-10-rematando-estilos-de-userrow','Rematando estilos de UserRow'],['10-11-revisando-la-logica-de-filtrado','Revisando la lógica de filtrado'],['10-12-el-comportamiento-en-conjunto','El comportamiento en conjunto'],['10-13-creando-input-search','Creando input search'],['10-14-rematando-el-input-search','Rematando el input search'],['10-15-creando-input-checkbox','Creando input checkbox'],['10-16-creando-el-select','Creando el select'],['10-17-ajustando-los-estilos','Ajustando los estilos'],['10-18-evitando-valores-magicos','Evitando valores mágicos'],['10-19-modularizando-la-logica','Modularizando la lógica'],['10-20-planteando-la-paginacion','Planteando la paginación'],['10-21-creando-userslistpagination','Creando UsersListPagination'],['10-22-creando-el-iconbutton','Creando el IconButton'],['10-23-creando-el-pageselector','Creando el PageSelector'],['10-24-organizando-los-estados','Organizando los estados'],['10-25-json-server','JSON Server'],['10-26-cargando-usuarios-con-fetch','Cargando usuarios con fetch'],['10-27-evitando-memory-leaks','Evitando memory leaks'],['10-28-modularizando-nuestro-hook','Modularizando nuestro hook'],['10-29-data-loading-error-y-el-ux','Data, loading, error y el UX'],['10-30-creando-el-button','Creando el button'],['10-31-creando-el-input-text','Creando el input text'],['10-32-creando-el-input-text-con-icono','Creando el input text con icono'],['10-33-cambiando-entre-formularios','Cambiando entre formularios'],['10-34-maquetando-el-formulario-de-creacion','Maquetando el formulario de creación'],['10-35-controlados-o-no-controlados','Controlados o no controlados'],['10-36-validando-los-campos','Validando los campos'],['10-37-completando-las-validaciones','Completando las validaciones'],['10-38-validaciones-asincronas','Validaciones asíncronas'],['10-39-modularizacion-y-memory-leaks','Modularización y memory leaks'],['10-40-debounce','Debounce'],['10-41-gestionando-el-submit','Gestionando el submit'],['10-42-submitting','Submitting'],['10-43-separacion-de-responsabilidades','Separación de responsabilidades'],['10-44-separando-los-fetch','Separando los fetch'],['10-45-el-orden-de-presentacion','El orden de presentación'],['10-46-custom-hooks-y-responsabilidades','Custom hooks y responsabilidades'],['10-47-complica-dentro-simplifica-fuera','Complica dentro, simplifica fuera'],['10-48-recargando-los-usuarios','Recargando los usuarios'],['10-49-form-layout','Form layout'],['10-50-edicion-borrado-y-prop-drilling','Edición, borrado y prop drilling'],['10-51-formulario-de-edicion','Formulario de edición'],['10-52-adaptando-las-validaciones','Adaptando las validaciones'],['10-53-adaptando-el-onsubmit','Adaptando el onSubmit'],['10-54-cambiando-las-props','Cambiando las props'],['10-55-formulario-de-borrado','Formulario de borrado'],['10-56-modularizando','Modularizando'],['10-57-creando-un-contexto','Creando un contexto'],['10-58-aprovechando-el-return-null','Aprovechando el return null'],['10-59-creando-un-custom-provider','Creando un custom provider'],['10-60-organizar-los-archivos','Organizar los archivos'],['10-61-selector-de-vista','Selector de vista'],['10-62-creando-las-cards','Creando las cards'],['10-63-filtrado-y-paginacion-en-json-server','Filtrado y paginación en JSON server'],['10-64-paginacion-desde-servidor','Paginación desde servidor'],['10-65-refetch-y-las-dependencias','Refetch y las dependencias'],['10-66-filtrando-desde-el-servidor','Filtrando desde el servidor'],['10-67-un-pequeno-fix','Un pequeño fix'],['10-68-un-ultimo-refactor','Un último refactor'],['10-69-la-accesibilidad','La accesibilidad'],['10-70-actualizando-a-react-18','Actualizando a React 18'],['10-71-conclusiones','Conclusiones'],]],['Reducers y useReducer',[['11-1-repasando-usestate','Repasando useState'],['11-2-los-problemas-de-usestate','Los problemas de useState'],['11-3-centralizando-los-setstate','Centralizando los setState'],['11-4-usereducer','useReducer'],['11-5-escribir-correctamente-un-reducer','Escribir correctamente un reducer'],['11-6-lazy-initialization','Lazy initialization'],['11-7-usestate-vs-usereducer','useState vs useReducer'],]],['Práctica 2: Refactor con useReducer',[['12-1-revisando-los-estados-sencillos','Revisando los estados sencillos'],['12-2-revisando-usefilters','Revisando useFilters'],['12-3-revisando-useeditform','Revisando useEditForm'],['12-4-las-props-y-los-reducers','Las props y los reducers'],['12-5-revisando-usecreateform','Revisando useCreateForm'],['12-6-revisando-useselectedform','Revisando useSelectedForm'],['12-7-revisando-useusers','Revisando useUsers'],['12-8-evitando-valores-magicos','Impedir valores mágicos'],['12-9-aislando-reducers','Aislando reducers'],['12-10-creando-action-builders','Creando action builders'],['12-11-mas-action-builders','Más action builders'],['12-12-estandarizando-el-payload','Estandarizando el payload'],]]]

//- *Estructura real del array
//- ?Explicación
//-  El primer elemento es el tema principal y corresponde al nombre de la carpeta dentro de dev/views/pages, unido con guiones y sin espacios.

//- El primer elemento de la matriz es el nombre de la ruta del subtema del tema principal y debe ubicarse en dev/views/pages/tema-central-1/
//- El segundo elemento de la matriz es el nombre del subtema del tema principal que se mostrará en el menú principal.

//- ! Cambia el nombre de los archivos de la ruta dev/views/pages al contexto del uso que le darás a la plantilla

//- * Puedes poner tu estructura de esta manera para que sea mas facil y despues decirle a la IA que lo pase a una sola línea.

//- const menuRutas = 
//-     [
//-         [
//-             '¿Qué es React?',
//-                 [
//-                     ['1-1-por-que-react','¿Por qué React?'],
//-                     ['1-2-los-primeros-componentes','Los primeros componentes'],
//-                     ['1-3-el-origen-de-react-jsx','El origen de React y JSX'],
//-                     ['1-4-imperativo-vs-declarativo','Imperativo vs Declarativo'],
//-                     ['1-5-cascade-updates','Cascade updates'],
//-                     ['1-6-el-dom-js','El DOM de JavaScript'],
//-                     ['1-7-el-virtual-dom','El virtual DOM'],
//-                     ['1-8-que-es-react','¿Qué es React?'],
//-                 ]
//-         ]
//-         ,[
//-             'Creando el primer proyecto',
//-                 [
//-                     ['2-1-el-problema-js','El problema de JavaScript'],
//-                     ['2-2-la-alternativa-de-react','La alternativa de React'],
//-                     ['2-3-transpilacion-y-babel','Transpilación y babel'],
//-                     ['2-4-modularizacion-y-es-modules','Modularización y ES Módules'],
//-                     ['2-5-empaquetado-bundles-y-webpack','Empaquetado, bundles y Webpack'],
//-                     ['2-6-no-react-app','¿Por qué no usamos create-react-app?'],
//-                     ['2-7-creando-una-app-vite','Creando una app con Vite'],
//-                     ['2-8-entendiendo-vite','Entendiendo como funciona Vite'],
//-                     ['2-9-como-funciona-dev-server','Cómo funciona el dev server'],
//-                     ['2-10-configurando-eslint','Cónfigurando ESLint'],
//-                     ['2-11-configurando-prettier','Cónfigurando Prettier'],
//-                     ['2-12-conflictos-prettier-eslint','Conflictos de Prettier y ESLint'],
//-                     ['2-13-subiendo-proyecto-a-git','Subiendo el proyecto a git'],
//-                 ]
//-         ]
//-        ,[
//-             'La sintaxis de JSX',
//-                 [
//-                     ['3-1-que-es-una-etiqueta-jsx','¿Qué es una etiqueta JSX?'],
//-                     ['3-2-la-propiedad-children','La propiedad children'],
//-                     ['3-3-react-fragment','React fragment'],
//-                     ['3-4-las-props-de-jsx','Las props de JSX'],
//-                     ['3-5-la-propiedad-style','La propiedad style'],
//-                     ['3-6-classname-y-htmlfor','className y htmlFor'],
//-                     ['3-7-defaultvalue-y-defaultchecked','defaultValue y defaultChecked'],
//-                     ['3-8-dangerouslysetinnerhtml','dangerouslySetInnerHTML'],
//-                     ['3-9-custom-attributes','Custom attributes'],
//-                     ['3-10-spread-de-props-y-keys','Spread de props y keys'],
//-                 ]
//-         ]
//-        ,[
//-             'Componentes',
//-                 [
//-                     ['4-1-funciones-que-devuelven-jsx','Funciones que devuelven JSX'],
//-                     ['4-2-componentes-y-props','Componentes y props'],
//-                     ['4-3-destructuring-de-props','Destructuring de props'],
//-                     ['4-4-composicion-de-componentes','Composición de componentes'],
//-                     ['4-5-modularizacion-y-nomenclatura','Modularización y nomenclatura'],
//-                     ['4-6-el-componente-app','El componente App'],
//-                     ['4-7-css-modules','CSS modules'],
//-                     ['4-8-css-global','CSS Global'],
//-                     ['4-9-renderizado-condicional','Renderizado condicional'],
//-                     ['4-10-aislar-logica-en-componentes','Aislar lógica en componentes'],
//-                     ['4-11-funciones-vs-clases','Funciones vs clases'],
//-                 ]
//-         ]
//-         ,[
//-             'Estado y useState',
//-                 [
//-                     ['5-1-el-renderizado-inicial','El renderizado inicial'],
//-                     ['5-2-que-es-un-estado','¿Qué es un estado?'],
//-                     ['5-3-usestate', 'useState'],
//-                     ['5-4-fases-del-cambio-de-estado','Fases del cambio de estado'],
//-                     ['5-5-variables-durante-el-render','Variables durante el render'],
//-                     ['5-6-reglas-del-estado-y-los-hooks','Reglas del estado y los hooks'],
//-                     ['5-7-el-valor-inicial','El valor inicial'],
//-                     ['5-8-profundizando-en-setstate','Profundizando en SetState'],
//-                     ['5-9-valor-del-estado-durante-el-render','Valor del estado durante el render'],
//-                     ['5-10-too-many-rerenders','Too many rerenders'],
//-                     ['5-11-donde-colocar-el-estado','Dónde colocar el estado'],
//-                     ['5-12-introduccion-a-multiples-estados','Introducción a múltiples estados'],
//-                 ]
//-         ]
//-         ,[
//-             'Eventos y formularios',
//-                 [
//-                     ['6-1-anadiendo-event-listeners','Añadiendo event listeners'],
//-                     ['6-2-eliminando-event-listeners','Eliminando event listeners'],
//-                     ['6-3-syntheticevent','SyntheticEvent'],
//-                     ['6-4-preventdefault','PreventDefault'],
//-                     ['6-5-target-vs-currenttarget','Target vs CurrentTarget'],
//-                     ['6-6-event-bubbling-capturing-y-stoppropagation','Event bubbling, capturing y stopPropagation'],
//-                     ['6-7-formularios-no-controlados','Formularios no controlados'],
//-                     ['6-8-formularios-controlados','Formularios controlados'],
//-                     ['6-9-ejemplo-con-un-buscador','Ejemplo con un buscador'],
//-                 ]
//-         ]
//-         ,[
//-             'Lógica, estructura y custom hooks',
//-                 [
//-                     ['7-1-modularizando-la-logica','Modularizando la lógica'],
//-                     ['7-2-responsabilidad-unica','Responsabilidad única'],
//-                     ['7-3-anadiendo-nuevos-filtros','Añadiendo nuevos filtros'],
//-                     ['7-4-anadiendo-logica-de-filtrado','Añadiendo lógica de filtrado'],
//-                     ['7-5-primitivos-referencias-stack-y-memoria','Primitivos, referencias, stack y memoria'],
//-                     ['7-6-la-importancia-de-las-funciones-puras','La importancia de las funciones puras'],
//-                     ['7-7-componentizar','Componentizar'],
//-                     ['7-8-agrupando-estados','Agrupando estados'],
//-                     ['7-9-custom-hooks','Custom hooks'],
//-                     ['7-10-mas-custom-hooks','Más custom hooks'],
//-                 ]
//-         ]
//-         ,[
//-             'Contexto y useContext',
//-                 [
//-                     ['8-1-la-tecnica-de-prop-drilling','La técnica de prop drilling'],
//-                     ['8-2-la-alternativa-de-context','La alternativa de context'],
//-                     ['8-3-context-provider-y-usecontext','Context provider y useContext'],
//-                     ['8-4-valor-por-defecto-del-context','Valor por defecto del context'],
//-                     ['8-5-multiples-context-providers','Múltiples context providers'],
//-                     ['8-6-las-implicaciones-de-usecontext','Las implicaciones de useContext'],
//-                     ['8-7-manejo-de-multiples-contextos','Manejo de múltiples contextos'],
//-                     ['8-8-context-vs-prop-drilling','Context vs prop drilling'],
//-                 ]
//-         ]
//-         ,[
//-             'Side effects y useEffect',
//-                 [
//-                     ['9-1-la-experiencia-de-usuario','La experiencia de usuario'],
//-                     ['9-2-prioridad-y-side-effects','Prioridad y side effects'],
//-                     ['9-3-useeffect','useEffect'],
//-                     ['9-4-las-dependencias-de-useeffect','Las dependencias de useEffect'],
//-                     ['9-5-las-reglas-de-los-hooks','Las reglas de los hooks'],
//-                     ['9-6-eslint-plugin-react-hooks','ESlint Plugin React Hooks'],
//-                     ['9-7-no-mientas-con-tus-dependencias','No mientas con tus dependencias'],
//-                     ['9-8-limpieza-de-side-effects','Limpieza de side effects'],
//-                     ['9-9-el-asincronismo','El asincronismo'],
//-                     ['9-10-no-todo-son-side-effects','No todo son side effects'],
//-                     ['9-11-desmontado-y-memory-leaks','Desmontado y memory leaks'],
//-                 ]
//-         ]
//-         ,[
//-             'Práctica 1: Listado de usuarios',
//-                 [
//-                     ['10-1-objetivos-y-metodologia','Objetivos y metodología'],
//-                     ['10-2-analizando-los-requisitos','Analizando los requisitos'],
//-                     ['10-3-los-flujos-del-diseno','Los flujos del diseño'],
//-                     ['10-4-el-ui-kit','El UI Kit'],
//-                     ['10-5-definiendo-variables-css','Definiendo variables CSS'],
//-                     ['10-6-adaptando-el-codigo-anterior','Adaptando el código anterior'],
//-                     ['10-7-userrole-y-el-uso-de-variables','UserRole y el uso de variables'],
//-                     ['10-8-userstatus-y-los-svg','UserStatus y los SVG'],
//-                     ['10-9-creando-el-userdisplay','Creando el UserDisplay'],
//-                     ['10-10-rematando-estilos-de-userrow','Rematando estilos de UserRow'],
//-                     ['10-11-revisando-la-logica-de-filtrado','Revisando la lógica de filtrado'],
//-                     ['10-12-el-comportamiento-en-conjunto','El comportamiento en conjunto'],
//-                     ['10-13-creando-input-search','Creando input search'],
//-                     ['10-14-rematando-el-input-search','Rematando el input search'],
//-                     ['10-15-creando-input-checkbox','Creando input checkbox'],
//-                     ['10-16-creando-el-select','Creando el select'],
//-                     ['10-17-ajustando-los-estilos','Ajustando los estilos'],
//-                     ['10-18-evitando-valores-magicos','Evitando valores mágicos'],
//-                     ['10-19-modularizando-la-logica','Modularizando la lógica'],
//-                     ['10-20-planteando-la-paginacion','Planteando la paginación'],
//-                     ['10-21-creando-userslistpagination','Creando UsersListPagination'],
//-                     ['10-22-creando-el-iconbutton','Creando el IconButton'],
//-                     ['10-23-creando-el-pageselector','Creando el PageSelector'],
//-                     ['10-24-organizando-los-estados','Organizando los estados'],
//-                     ['10-25-json-server','JSON Server'],
//-                     ['10-26-cargando-usuarios-con-fetch','Cargando usuarios con fetch'],
//-                     ['10-27-evitando-memory-leaks','Evitando memory leaks'],
//-                     ['10-28-modularizando-nuestro-hook','Modularizando nuestro hook'],
//-                     ['10-29-data-loading-error-y-el-ux','Data, loading, error y el UX'],
//-                     ['10-30-creando-el-button','Creando el button'],
//-                     ['10-31-creando-el-input-text','Creando el input text'],
//-                     ['10-32-creando-el-input-text-con-icono','Creando el input text con icono'],
//-                     ['10-33-cambiando-entre-formularios','Cambiando entre formularios'],
//-                     ['10-34-maquetando-el-formulario-de-creacion','Maquetando el formulario de creación'],
//-                     ['10-35-controlados-o-no-controlados','Controlados o no controlados'],
//-                     ['10-36-validando-los-campos','Validando los campos'],
//-                     ['10-37-completando-las-validaciones','Completando las validaciones'],
//-                     ['10-38-validaciones-asincronas','Validaciones asíncronas'],
//-                     ['10-39-modularizacion-y-memory-leaks','Modularización y memory leaks'],
//-                     ['10-40-debounce','Debounce'],
//-                     ['10-41-gestionando-el-submit','Gestionando el submit'],
//-                     ['10-42-submitting','Submitting'],
//-                     ['10-43-separacion-de-responsabilidades','Separación de responsabilidades'],
//-                     ['10-44-separando-los-fetch','Separando los fetch'],
//-                     ['10-45-el-orden-de-presentacion','El orden de presentación'],
//-                     ['10-46-custom-hooks-y-responsabilidades','Custom hooks y responsabilidades'],
//-                     ['10-47-complica-dentro-simplifica-fuera','Complica dentro, simplifica fuera'],
//-                     ['10-48-recargando-los-usuarios','Recargando los usuarios'],
//-                     ['10-49-form-layout','Form layout'],
//-                     ['10-50-edicion-borrado-y-prop-drilling','Edición, borrado y prop drilling'],
//-                     ['10-51-formulario-de-edicion','Formulario de edición'],
//-                     ['10-52-adaptando-las-validaciones','Adaptando las validaciones'],
//-                     ['10-53-adaptando-el-onsubmit','Adaptando el onSubmit'],
//-                     ['10-54-cambiando-las-props','Cambiando las props'],
//-                     ['10-55-formulario-de-borrado','Formulario de borrado'],
//-                     ['10-56-modularizando','Modularizando'],
//-                     ['10-57-creando-un-contexto','Creando un contexto'],
//-                     ['10-58-aprovechando-el-return-null','Aprovechando el return null'],
//-                     ['10-59-creando-un-custom-provider','Creando un custom provider'],
//-                     ['10-60-organizar-los-archivos','Organizar los archivos'],
//-                     ['10-61-selector-de-vista','Selector de vista'],
//-                     ['10-62-creando-las-cards','Creando las cards'],
//-                     ['10-63-filtrado-y-paginacion-en-json-server','Filtrado y paginación en JSON server'],
//-                     ['10-64-paginacion-desde-servidor','Paginación desde servidor'],
//-                     ['10-65-refetch-y-las-dependencias','Refetch y las dependencias'],
//-                     ['10-66-filtrando-desde-el-servidor','Filtrando desde el servidor'],
//-                     ['10-67-un-pequeno-fix','Un pequeño fix'],
//-                     ['10-68-un-ultimo-refactor','Un último refactor'],
//-                     ['10-69-la-accesibilidad','La accesibilidad'],
//-                     ['10-70-actualizando-a-react-18','Actualizando a React 18'],
//-                     ['10-71-conclusiones','Conclusiones'],
//-                 ]
//-         ]
//-         ,[
//-             'Reducers y useReducer',
//-                 [
//-                     ['11-1-repasando-usestate','Repasando useState'],
//-                     ['11-2-los-problemas-de-usestate','Los problemas de useState'],
//-                     ['11-3-centralizando-los-setstate','Centralizando los setState'],
//-                     ['11-4-usereducer','useReducer'],
//-                     ['11-5-escribir-correctamente-un-reducer','Escribir correctamente un reducer'],
//-                     ['11-6-lazy-initialization','Lazy initialization'],
//-                     ['11-7-usestate-vs-usereducer','useState vs useReducer'],
//-                 ]
//-         ]
//-         ,[
//-             'Práctica 2: Refactor con useReducer',
//-                 [
//-                     ['12-1-revisando-los-estados-sencillos','Revisando los estados sencillos'],
//-                     ['12-2-revisando-usefilters','Revisando useFilters'],
//-                     ['12-3-revisando-useeditform','Revisando useEditForm'],
//-                     ['12-4-las-props-y-los-reducers','Las props y los reducers'],
//-                     ['12-5-revisando-usecreateform','Revisando useCreateForm'],
//-                     ['12-6-revisando-useselectedform','Revisando useSelectedForm'],
//-                     ['12-7-revisando-useusers','Revisando useUsers'],
//-                     ['12-8-evitando-valores-magicos',' Impedir mágicos'],
//-                     ['12-9-aislando-reducers','Aislando reducers'],
//-                     ['12-10-creando-action-builders','Creando action builders'],
//-                     ['12-11-mas-action-builders','Más action builders'],
//-                     ['12-12-estandarizando-el-payload','Estandarizando el payload'],
//-                 ]
//-         ]
//-     ]


//-         ,[
//-             '',
//-                 [
//-                     ['',''],
//-                     ['',''],
//-                     ['',''],
//-                     ['',''],
//-                     ['',''],
//-                     ['',''],
//-                     ['',''],
//-                     ['',''],
//-                     ['',''],
//-                     ['',''],
//-                     ['',''],
//-                 ]
//-         ]

- let submenuLinks = []