extends ../../templates/template 

append h1 
    h1 Estandarizando el payload

append content 
    article(id="1" class="content")
        h2 Subtitulo 1


    article(id="2" class="content")
        h2 Subtitulo 2


append submenu 
    -submenuLinks = [[1,'Subtitulo 1'],[2,'Subtitulo 2']]